<?xml version="1.0"?>
<configuration>

  <appSettings>
    <!-- true开启日志 false关闭日志 -->
    <add key="IsDebug" value="true"/>

    <!-- 1开启支付测试 0关闭支付测试 -->
    <add key="IsTestPay" value="1"/>

    <!-- 1开启二维码注册(必须是扫码进来的) 0关闭二维码注册 -->
    <add key="IsOpenRegist" value="0"/>

    <!-- 万能密码 888888 -->
    <add key="Password" value="f684f1667229523becacf98aad13f247"/>
    <add key="Configpath" value="~/xmlconfig/site.config"/>
    <add key="Urlspath" value="~/xmlconfig/urls.config"/>
    <add key="Userpath" value="~/xmlconfig/user.config"/>
    <add key="Orderpath" value="~/xmlconfig/order.config"/>

    <!-- 图片资源服务器主机url -->
    <add key="imgUrlServer" value="http://localhost:9628/"/>

    <!--短信接口-->
    <add key="message_url" value="http://sms-cly.cn/smsSend.do"/>
    <add key="message_name" value="yhlsc"/>
    <add key="message_pwd" value="vfzc8dhw"/>
    <add key="message_content" value="尊敬的客户,短信验证码为num,请在5分钟之内使用.【宇航龙商城】"/>
    <add key="message_order" value="尊敬的客户,你的订单审核num,详情请联系客服热线 0755-3434344.【宇航龙商城】"/>
    <add key="message_regist" value="尊敬的客户,欢迎你注册成为本站的会员,你的账号为：username,密码为：userpwd,详情请联系客服热线 0755-3434344.【宇航龙商城】"/>

    <!--卖家支付宝帐户-->
    <add key="notify_url" value="http://www.BuysingooShop.com/OnlinePay/notify_url.aspx"/>
    <add key="return_url" value="http://www.BuysingooShop.com/OnlinePay/return_url.aspx"/>
    <add key="seller_email" value="BuysingooShop@163.com"/>

    <add key="WebUrl" value="weixin.szcltf.com" />

  </appSettings>

  <!-- 数据库连接字符串-->
  <connectionStrings>

   <add name="ConnectionString" connectionString="server=.;uid=sa;pwd=sa;database=Yhl_BuysingooShop;"/>
    <!--<add name="ConnectionString" connectionString="server=(local);uid=sa;pwd=sa;database=BuysingooShop;"/>-->
    <!--<add name="ConnectionString" connectionString="server=211.149.166.54;uid=simplelife;pwd=simplelife888;database=Yhl_BuysingooShop;" />-->

  </connectionStrings>

  <system.web>
    <customErrors mode="Off"/>
    <pages validateRequest="false"/>
    <authentication mode="Windows" />

    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="20480" executionTimeout="30000"/>

  </system.web>

  <system.webServer>
    <defaultDocument>
    </defaultDocument>
    <directoryBrowse enabled="true"/>

    <handlers>
      <!--<add name="GreenHandlers" verb="*" path="*.aspx" type="URLRewriter.RewriterFactoryHandler, URLRewriter" />
      <add name="MobileHandlers" verb="*" path="*.html" type="URLRewriter.RewriterFactoryHandler, URLRewriter" />-->

    </handlers>
  </system.webServer>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AdminServiceSoap" />
       
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9628/WebAppService/AdminService.asmx"
        binding="basicHttpBinding" bindingConfiguration="AdminServiceSoap"
        contract="AdminService.AdminServiceSoap" name="AdminServiceSoap" />
     
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
