<?xml version="1.0" encoding="gb2312"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- accesstoken -->
  <accesstoken>xFw2AIJseqKJIJ_aQmBhKQGIqXmszbCpFh4bMTe6bTsfMeYjyv2rGH2QPyy7tijszJlbRHDOAr0Wk5l9B8A_owO_SvidKkjgiwjnKDsYkCk</accesstoken>
  <accesstoken_time>2015/8/3 18:48:25</accesstoken_time>
</siteconfig>