<?xml version="1.0" encoding="gb2312"?>
<Root>
  <!-- accesstoken -->
  <accesstoken>mATcYjW-8GTFxeMa0UrF-7ZDd6O1wRc2fyb_TmZDHMnkR231pSeCV97cXBYbVGzk4Rta1NMWdeiCyWKzRdWVTeQulJgRuU93mlv7ghPOT0IiEf20zh3Fk96C4ZcN7vyuABCiAFAHIJ</accesstoken>
  <accesstoken_time>2016/5/19 19:08:45</accesstoken_time>
  <!-- jsapi_ticket -->
  <jsapi_ticket>kgt8ON7yVITDhtdwci0qeaIdWutSQfa_CwvRrX594_lOT-Ei2altjbrKgumPF6rkJnTn85z8sc4Pt3AIWCMTPA</jsapi_ticket>
  <jsapi_ticket_time>2016/5/19 19:08:45</jsapi_ticket_time>
  <timestamp>1463648926</timestamp>
  <nonceStr>ggokkehggsTYJWA</nonceStr>
</Root>