<?xml version="1.0" encoding="gb2312"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- accesstoken -->
  <accesstoken>7DoGllWVcsNngrrWgAmJzv4lcwiSG6rHJFPTQEv2favvwQ8HPuWmmTd_wGcJpmgquGJ6e51X8NNLCNCrpH8pYsMmAQ6baC08XMtU7H8AQzkCQPdAJAHVU</accesstoken>
  <accesstoken_time>2017/4/14 10:49:39</accesstoken_time>
</siteconfig>