<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- true开启日志 false关闭日志 -->
    <add key="IsDebug" value="true"/>
    <!-- 万能密码 888888 -->
    <add key="Password" value="f684f1667229523becacf98aad13f247"/>
    <add key="Configpath" value="~/xmlconfig/site.config"/>
    <add key="Urlspath" value="~/xmlconfig/urls.config"/>
    <add key="Userpath" value="~/xmlconfig/user.config"/>
    <add key="Orderpath" value="~/xmlconfig/order.config"/>
    <!--短信接口-->
    <add key="message_url" value="http://sms-cly.cn/smsSend.do"/>
    <add key="message_name" value="mcshop"/>
    <add key="message_pwd" value="2y8ftcsf"/>
    <add key="message_content" value="尊敬的客户,短信验证码为num,请在5分钟之内使用.【门川家居】"/>
    <add key="message_order" value="尊敬的客户,你的订单审核num,详情请联系客服热线 0755-3434344.【门川家居】"/>
    <add key="message_regist" value="尊敬的客户,欢迎你注册成为本站的会员,你的账号为：username,密码为：userpwd,详情请联系客服热线 0755-3434344.【门川家居】"/>
  </appSettings>
  <!-- 数据库连接字符串-->
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=.;uid=sa;pwd=sa;database=McShop;"/>
    <!--<add name="ConnectionString" connectionString="server=211.149.166.54;uid=simplelife;pwd=simplelife888;database=Yhl_BuysingooShop;" />-->
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>
    <authentication mode="Windows"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="20480" executionTimeout="30000"/>
  </system.web>
  <system.webServer>
    <defaultDocument/>
    <directoryBrowse enabled="true"/>
    <handlers>
      <!--<add name="GreenHandlers" verb="*" path="*.aspx" type="URLRewriter.RewriterFactoryHandler, URLRewriter" />
      <add name="MobileHandlers" verb="*" path="*.html" type="URLRewriter.RewriterFactoryHandler, URLRewriter" />-->
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>