<?xml version="1.0"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname>门川家居</webname>
  <weburl>http://www.mc-house.com</weburl>
  <weblogo />
  <webcompany>门川家居</webcompany>
  <webaddress>广东省</webaddress>
  <webtel />
  <webfax />
  <webmail />
  <webcrod>粤ICP备14078119号</webcrod>
  <webtitle />
  <webkeyword />
  <webdescription />
  <webcopyright>版权所有  © Copyright 2016 - 2020. All Rights Reserved.</webcopyright>
  <webpath>/</webpath>
  <webmanagepath>admin</webmanagepath>
  <staticstatus>0</staticstatus>
  <staticextension>html</staticextension>
  <memberstatus>1</memberstatus>
  <rechangestatus>1</rechangestatus>
  <commentstatus>0</commentstatus>
  <logstatus>0</logstatus>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <webcountcode>&lt;script src="http://s24.cnzz.com/stat.php?id=1996164&amp;web_id=1996164&amp;show=pic" language="JavaScript"&gt;&lt;/script&gt;</webcountcode>
  <smsapiurl>http://sms.BuysingooShop.net/httpapi/</smsapiurl>
  <smsusername>test</smsusername>
  <smspassword>e10adc3949ba59abbe56e057f20f883e</smspassword>
  <emailsmtp>smtp.126.com</emailsmtp>
  <emailport>25</emailport>
  <emailfrom>smileykeke@126.com</emailfrom>
  <emailusername>smileykeke</emailusername>
  <emailpassword>B73371BF12CB1EFF4787A1C4365AF4CE3F170087FAF56DFB</emailpassword>
  <emailnickname>农夫优品</emailnickname>
  <filepath>upload</filepath>
  <filesave>2</filesave>
  <fileextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt</fileextension>
  <attachsize>512000</attachsize>
  <imgsize>102400</imgsize>
  <imgmaxheight>0</imgmaxheight>
  <imgmaxwidth>0</imgmaxwidth>
  <thumbnailheight>0</thumbnailheight>
  <thumbnailwidth>0</thumbnailwidth>
  <watermarktype>2</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>农夫优品</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <sysdatabaseprefix>dt_</sysdatabaseprefix>
  <sysencryptstring>BuysingooShop</sysencryptstring>
</siteconfig>