@charset "utf-8";
/* CSS Document */
.pro_tit{ font-size:16px; color:#5b5b5b}
.pro_des{ font-size:13px; color:#5b5b5b}

.pro_puy a.order {
background: #ff9c00;
border: 0;
margin: 0 15px;
padding: 5px 15px;
color:#fff;
font-size:15px
}
.pro_puy{float:right; }
.pro_puys{float:right; margin-top:15px}
.pro_story{ border-bottom:1px solid #a6a6a6; text-align:center; padding:30px 0}
.pro_story a.more{ color:#777777; display:block; font-size:22px; padding-bottom:10px}
.pro_story a.order {
background: #ff9c00;
border: 0;
margin: 0 15px;
padding: 5px 15px;
color: #fff;
font-size: 15px;
display:inline-block
}
.pro_hot{ width:100%; margin-top:15px}
.pro_hot li{ float:left; border-right:1px solid #a6a6a6; width:360px; height:230px; text-align:center}
.pro_hot li .pic{ width:225px; height:140px; margin:0 auto}
.pro_hot li .tit{ color:#515151; font-size:16px} 
.pro_hot li .des{ color:#858585} 

.destab2{width:1140px;position:relative;margin:40px auto;}
.destab2 .tab_menu{width:100%;float:left;position:absolute;z-index:1; border-bottom:2px solid #e6e6e6; height:51px; border-top:1px solid #8e8e8e;border-bottom:1px solid #8e8e8e;}
.destab2 .tab_menu ul{ margin:0 auto; width:300px; }
.destab2 .tab_menu li{float:left;height:30px;line-height:30px;border-bottom:4px solid transparent;cursor:pointer;text-align:center; color:#6e6e6e; font-size:16px; margin-right:70px; padding:0 15px; padding:10px 0; margin-top:-2px  }
.destab2 .tab_box{width:1140px;clear:both; margin:0 auto;position:relative; color:#404040; padding-top:35px}
.destab2 .tab_menu .selected{cursor:pointer;border-top:3px solid #2f7536}
.destab2 .tab_box .sect1 { width:1090px;  margin-top:30px;  color:#626262; font-size:14px; background:#f3f3f3; padding:25px}
.destab2 .tab_box .sect1 .tits{ font-size:18px; height:30px; line-height:30px;border-bottom:1px solid #e4e4e4;}
.destab2 .tab_box .sect1 li{ width:1090px; border-bottom:1px solid #e4e4e4; height:auto; overflow:hidden;zoom:1; padding:5px 0 15px 0 }
.destab2 .tab_box .sect1 li .left{ width:56px; float:left}
.destab2 .tab_box .sect1 li img{ width:56px; height:56px}
.destab2 .tab_box .sect1 li .tit{ color:#5ca421; font-size:20px; height:30px; line-height:30px; width:1030px}
.destab2 .tab_box .sect1 li .time{font-size:16px; height:30px; line-height:30px;width:1030px}
.destab2 .tab_box .sect1 li .dess{width:1030px}
.destab2 .tab_box .sect1 .btnn{ background:url(../images/icon1.png) -366px -150px no-repeat; width:157px; height:45px; margin:30px auto 20px; text-indent:-9999px;}
.destab2 .tab_box .sect1 .btnn a{ width:157px; height:45px; display:block}
.destab2 .tab_box .sect1 .btnn1{ background:url(../images/icon1.png) -366px -150px no-repeat; width:157px; height:45px; margin:30px auto 20px;}
.destab2 .tab_box .sect1 .btnn1 input{ width:157px; height:45px;cursor:pointer;border:none;background:none;}
.destab2 .tab_box .sect2 a{ color:#545454}
.destab2 .tab_box .sect2{ height:auto; zoom:1; overflow:hidden; padding:10px 0; color:#626262}
.destab2 .tab_box .sect2 .num{ width:1108px; height:51px; border:1px solid #6c6c6c; background:#f3f3f3; padding-left:30px; line-height:51px; font-size:18px}
.destab2 .tab_box .sect2 ul{ width:1082px; margin:15px auto}
.destab2 .tab_box .sect2 ul li{ border-top:1px solid #e4e4e4; padding:7px 0; width:1080px; height:auto; zoom:1; overflow:hidden }
.destab2 .sect2 ul li .s1{ float:left; width:155px; padding-right:55px;}
.destab2 .sect2 ul li .s1 .vip{ width:99px; height:18px;padding-bottom:3px}
.destab2 .sect2 ul li .s1 .pic{ width:73px; height:73px; padding-bottom:3px}
.destab2 .sect2 ul li .s1 .tit{ color:#6e6e6e;padding-bottom:5px}
.destab2 .sect2 ul li .s1 .time{ color:#626262; font-size:14px;}
.destab2 .sect2 ul li .s2{ float:left; width:625px; padding-right:50px; padding-top:12px; font-size:13px}
.destab2 .sect2 ul li .s2 .con{}
.destab2 .sect2 ul li .s2 img{ padding:15px 15px 15px 0}
.destab2 .sect2 ul li .s3{ float:left; width:195px;font-size:13px}
.destab2 .sect2 ul li .s3 .ques{ font-size:13px;}
.destab2 .sect2 ul li .s3 .app{  width:27px; float:left; height:32px; line-height:32px; color:#5ca421; padding-left:40px; margin:10px 0 40px 0}
.destab2 .sect2 ul li .s3 .opp{ background:url(../images/s_icon.png) -299px -209px no-repeat; width:27px; float:left; height:32px; line-height:32px; color:#5ca421; padding-left:40px; margin:10px 0 40px 20px}
.destab2 .sect2 ul li .s3 .share{ background:url(../images/foot_pic.png) -158px -390px no-repeat; clear:both; padding-left:40px; height:32px;} 
.destab2 .sect2 ul li.last{ border-bottom:1px solid #e4e4e4;}
.destab2 .tab_box .sect2 .tnum{ width:1138px; height:51px; border:1px solid #6c6c6c; background:#f3f3f3; text-align:center; line-height:51px; font-size:18px}
.destab2 .tab_box .sect1 .box{width:1090px; height:100px;border: 1px solid #cccbcb; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; margin-bottom:15px; font-family:"微软雅黑"}
.destab2 .tab_box .sect2 .write{ width:135px; height:38px;background:url(../images/s_icon.png) -261px -250px no-repeat;line-height:38px; font-size:15px; margin:20px auto; padding-left:45px}
.destab1 .tab_box .sect3{ height:218px;padding:10px 0; }
.hide{ display:none}


.cart_tip{margin-top:30px;margin-bottom:17px;color:#2f7536;}
.cart_tip .fl{background:url(../images/icon1.png) no-repeat -633px -146px;height:23px;padding:20px 0 0 60px;text-align:center;font-size:16px;}
.cart_tip .cart_icon1{background:url(../images/icon1.png) no-repeat 0 -238px;padding-top:18px;margin-top:20px;}
.cart_tip .cart_icon2{background-position:0 -273px;}
.cart_tip .cart_icon3{background-position:0 -310px;}
.cart_tip .cart_icon1 span{display:inline-block;}
.cart_tip .cart_icon1 .cart_ico1{padding:0 112px 0 95px;}
.cart_msg{margin-bottom:7px;}
.cart_msg p{margin-left:5px;width:300px;padding:0 10px;height:27px;line-height:29px;border:1px solid #d1d1d1;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;background:#fafafa;}
.cart_msg p{color:#a1a1a1;}
.cart_msg a{color:#5ca421;}
.cart_msg .cart_ico2{background:url(../images/icon1.png) no-repeat -97px -221px;width:12px;height:8px;overflow:hidden;margin:-1px 0 0 16px;}
.cart_list table{width:100%;}
.cart_list table thead tr{height:25px;background:#2f7536;color:#ffffff;}
.cart_list table thead tr td{text-align:center;}
.cart_list table tbody{border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;color:#a3a3a3;}
.cart_list table tbody .tip1{height:23px;line-height:23px;border-bottom:1px solid #e1e1e1;background:#fafafa;text-align:left;}
.cart_list table tbody tr td{text-align:center;border-left:1px solid #e1e1e1;border-right:1px solid #e1e1e1;border-top:1px solid #e1e1e1;}
.cart_list table tbody .cart_goods{padding:8px 0 0 30px;}
.cart_list table tbody .cart_goods img{ width:66px; height:41px; padding-top:20px}
.cart_list table tbody .cart_goods .pinfo{padding:20px 0 20px 12px;}
.cart_list table tbody .cart_goods p{line-height:22px;text-align:left;width:200px;}
.cart_list table tbody .cart_goods p span{padding-right:10px;}
.cart_list table tbody .cart_goods .p_name{color:#357a9a;}
.cart_list1 table{width:100%;}
.cart_list1 table thead tr{height:25px;background:#2f7536;color:#ffffff;}
.cart_list1 table thead tr td{text-align:center;}
.cart_list1 table tbody{border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;color:#a3a3a3;}
.cart_list1 table tbody .tip1{height:23px;line-height:23px;border-bottom:1px solid #e1e1e1;background:#fafafa;text-align:left;}
.cart_list1 table tbody tr td{text-align:center;border-left:1px solid #e1e1e1;border-right:1px solid #e1e1e1;border-top:1px solid #e1e1e1;}
.cart_list1 table tbody .cart_goods{padding:8px 0 0 30px;}
.cart_list1 table tbody .cart_goods img{ width:66px; height:41px; padding-top:20px}
.cart_list1 table tbody .cart_goods .pinfo{padding:20px 0 20px 12px;}
.cart_list1 table tbody .cart_goods p{line-height:22px;text-align:left;width:150px;}
.cart_list1 table tbody .cart_goods p span{padding-right:10px;}
.cart_list1 table tbody .cart_goods .p_name{color:#357a9a;}
.chb{display:inline-block;width:13px;height:13px;border:1px solid #bcbcbc;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;background:#f8f8f8;margin:30px 8px 0 16px;text-align:center;line-height:13px;cursor:pointer;}
.chb1{display:inline-block;width:15px;height:15px;margin:0 8px 0 16px;}
.chb2{ margin-top:0}
.chb input{visibility:hidden;}
.cart_list table tbody .cart_goods .chb{margin-top:33px;}
.gift{display:inline-block;height:25px;padding-left:20px;background:url(../images/icon1.png) no-repeat -222px -201px;margin:0 8px 0 16px;}
.red{color:#cb0252;}
.red1{color:#ff0000;}
.add_num{height:18px;line-height:18px;text-align:center; padding-left:18px}
.add_num_s{ padding-left:0;}
.add_num a{display:inline-block;float:left;width:16px;height:16px;border:1px solid #bfbfbf;}
.add_num input{display:inline-block;float:left;width:70px;height:16px;border:1px solid #bfbfbf;vertical-align:middle;margin:0 3px;text-align:center;}
.add_num_s input{display:inline-block;float:left;width:112px;height:16px;border:1px solid #bfbfbf;vertical-align:middle;margin:0 3px;text-align:center;}
.operation a{display:inline-block;width:67px;height:18px;background:url(../images/icon1.png) no-repeat -422px -240px;}
.operation .del{width:52px;background-position:-365px -240px;margin-right:5px;}
.cart_list table tfoot{color:#a3a3a3;}
.cart_list table tfoot tr th{height:23px;text-align:left;border-top:1px solid #e1e1e1;padding-top:7px;}
.shipping{background:url(../images/icon1.png) no-repeat -494px -240px;width:67px;height:18px;overflow:hidden;margin-left:50px;margin-bottom:7px; margin-top:3px}
.sdel{color:#a3a3a3;padding-top:12px;padding-right:10px;margin-top:7px;height:75px;border:1px solid #e1e1e1;background:#fafafa;font-size:16px}
.sdel .fl span{margin:0 5px;display:inline-block; }
.oran{color:#ff6d15;font-size:32px;}
.tip2{display:inline-block;height:36px;line-height:36px;}
.co_btn{height:39px;margin-bottom:18px; float:right}
.co_btn input{border:none;cursor:pointer;display:block;float:right;width:183px;height:39px;line-height:39px;text-align:center;background:url(../images/icon1.png) no-repeat 0 -353px;color:#ffffff;font-size:16px;}

.cart_tip .order_f{background-position:-347px -289px;height:46px;padding:25px 0 0 65px;}
.order_msg{height:26px;background:#2f7536;color:#ffffff;line-height:26px;}
.order_msg p{padding-left:12px;}
.order_list{}
.order_list .con{padding:0 20px 20px 15px;border:1px solid #2f7536;margin-bottom:55px;}
.order_list .order_tip1{height:30px;line-height:30px;background:#efefef;margin:12px 0;}
.order_list .o_ico1{display:inline-block;background:url(../images/icon1.png) no-repeat -685px -255px;padding-left:35px;margin-left:6px;}
.order_list .order_tip2{line-height:30px;background:#e2f6ff;border:1px solid #2f7899;}
.order_list .order_tip2 p{margin-left:6px;color:#545454;}
.order_list .order_tip2 span,.order_list .order_tip2 a{display:inline-block;}

.order_list .order_tip2 .noton{font-size:14px;color:#1f1f1f;font-weight:bold;}
.order_list .order_tip2 .operate{ float:right; }
.order_list .order_tip2 .operate a{ color:#cd2762; text-decoration:underline; font-size:14px; padding-right:5px }
.order_list .o_ico2{color:#10516f;padding-left:10px;padding-right:305px;cursor:pointer;}
.order_list .order_tip2 .o_ico2{color:#10516f;}
.order_list .order_tip3{background:none;border-bottom:1px dashed #4c4c4c;}
.order_list .order_tip3 span{color:Black;}
.order_list .noton{background:url(../images/icon1.png) no-repeat -683px -292px;padding-left:35px;margin-right:30px;}
.order_list .aname{margin-right:30px;font-size: 14px;color: #1f1f1f;font-weight: bold;}
.order_list .noton1{background:url(../images/icon1.png) no-repeat -683px -299px;padding-left:35px;margin-left:6px;}
.order_list .ison{background:url(../images/icon1.png) no-repeat -683px -334px;padding-left:35px;margin-left:6px;}
.order_list .newaddress{margin-left:32px;color:#5d5d5d;}
.order_list .newaddress dl{padding-bottom:10px;}
.order_list .newaddress dl dt{float:left;width:183px;}
.order_list .newaddress dl dd{}
.order_list .newaddress dl dd span{text-align:center;display:inline-block;}
.order_list .newaddress dl dd .atip{width:218px;}
.order_list .newaddress dl dd .atip1{width:448px;}
.order_list .newaddress .atext1{width:216px;height:24px;line-height:26px;border:1px solid #f0f0f0;}
.order_list .newaddress .atext2{width:446px;height:24px;line-height:26px;border:1px solid #f0f0f0;}
.order_list .newaddress .atext3{width:416px}
.order_line1{height:1px;overflow:hidden;border-bottom:1px dashed #4c4c4c;margin-top:25px;}
.btn_sure{width:146px;height:34px;line-height:34px;color:#ffffff;background:#ff9c00;border:1px solid #790e3b;margin-top:10px; border-radius:5px; -webkit-border-radius:5px;-moz-border-radius:5px; font-size:16px}
.btn_sure1,.btn_sure2,.btn_sure3,.btn_sure4{width:126px;height:34px;line-height:34px;color:#ffffff;background:#ff9c00;border:1px solid #790e3b;margin-top:10px; border-radius:5px; -webkit-border-radius:5px;-moz-border-radius:5px; font-size:16px; display:inline-block; text-align:center}
.btn_sure1:hover{ color:#fff}
.o_box1 p{padding:5px 0;}
.o_box1 o_select{margin-left:6px;}
.o_box1 em{padding-right:42px;}
.sdel1{height:30px;line-height:30px;background:#efefef;color:#474747;text-align:right;margin-top:10px;}
.sdel1 span{padding-right:18px;}
.order_c .co_btn{margin-right:20px;margin-bottom:35px;}
.order_c tfoot{border:1px solid #2f7536;border-top:none; }
.order_c tfoot .tip4{text-align:right;line-height:22px;padding:15px 20px 15px 0;color:#474747;font-size:14px;}
.stext2{color:#474747;font-size:24px;font-weight:bold;}
.s_btn1{width:133px;height:34px;line-height:34px;background:url(../images/icon1.png) no-repeat -323px -469px;display:inline-block;color:#ffffff;margin:15px 0 5px;padding-right:13px;}
.s_btn1:hover{color:#ffffff;}



/*--------------------------选择商品-------------------*/
.sel_pro{ width:1058px; border:1px solid #b3b3b3; padding:40px 20px}
.sel_pro dl.item1{ clear:both; margin-bottom:30px}
.sel_pro dl.item1 dt{text-align: left;padding-bottom: 15px;border-bottom: 1px solid #dfdfdf;}
.sel_pro dl.item1 dt b {font-weight: normal;font-size: 15px;color: #6d6d6d;}
.sel_pro dl.item1 dt i {font-style: normal;font-size: 22px;color: #2f7536;padding-right: 10px;}
.sel_pro dl.item1 dd{float: left;margin-right: 20px;margin-top: 20px;width: 168px;}
.sel_pro dl.item1 dd .version{border: 1px solid #dfdfdf;height:94px;background-color: #fafafa;overflow: hidden;text-align: center;position: relative;cursor: pointer;}
.sel_pro dl.item1 dd.selected .version{border: 1px solid #ff9c00;}
.sel_pro dl.item1 dd .version:hover{ background:#f7f7f7}
.sel_pro dl.item1 dd .version .name{margin-top: 20px;font-size: 16px;color: #545454;font-weight: normal;}
.sel_pro dl.item1 dd .version .descp{margin-top: 5px;font-size: 12px;color: #8c8c8c;}

.sel_pro dl.item2{ clear:both; margin-bottom:30px}
.sel_pro dl.item2 dt{text-align: left;padding-bottom: 15px;border-bottom: 1px solid #dfdfdf;}
.sel_pro dl.item2 dt b {font-weight: normal;font-size: 15px;color: #6d6d6d;}
.sel_pro dl.item2 dt i {font-style: normal;font-size: 22px;color: #2f7536;padding-right: 10px;}
.sel_pro dl.item2 dd{float: left;margin-right: 20px;margin-top: 20px;width: 168px;}
.sel_pro dl.item2 dd.selected .version .pic{border: 1px solid #ff9c00;}
/*.sel_pro dl.item2 dd .version:hover{ background:#f7f7f7}*/
.sel_pro dl.item2 dd .version{ width:195px; height:96px;}
.sel_pro dl.item2 dd .version .pic{ width:168px; height:94px; border:1px solid #dfdfdf; float:left}
.sel_pro dl.item2 dd .version .num{ padding-top:10px}


.sel_pro .t_num{ color:#747474; font-size:16px;}
.sel_pro .t_num span{ color:#ff9c00}


.talcon{width:1070px;margin:0 auto;}
.total{ width:232px; height:auto; overflow:hidden; zoom:1; border:1px solid #a1a1a1; margin-top:30px; padding-bottom:20px;background:#fff}
/*--------------------------个人中心-------------------*/
.menuDiv{background:#FFFFFF; position:relative}
.menuDiv h3{font-size:15px;font-weight:normal;color:#5c5c5c;background:#fff;cursor:pointer;height:64px;line-height:64px;overflow:hidden;}
.menuDiv h3 a{padding:0 5px 0 40px; display:block}
.menuDiv h3 a:hover{ color:#fff}
.menuDiv h3.t1{ background:#2f7536 url(../images/icon2.png) 0 -131px no-repeat;padding:0 5px 0 40px; color:#fff; border-bottom:1px solid #a1a1a1}
.menuDiv .arrow { background:url(../images/closed.png) 0 0 no-repeat; color:#fff; position:absolute; right:10px; top:25px; width:14px; height:14px; z-index:5 }
.menuDiv .arrow1 { background:url(../images/open.png) 0 0 no-repeat; color:#fff; position:absolute; right:10px; top:25px; width:14px; height:14px; z-index:5 }
.menuDiv h3.t2 .cov{ background:url(../images/icon2.png) 0 -196px no-repeat}
.menuDiv h3.t3 .cov{ background:url(../images/icon2.png) 0 -264px no-repeat}
.menuDiv h3.t4 .cov{ background:url(../images/icon2.png) 0 -329px no-repeat}
.menuDiv h3.t5 .cov{ background:url(../images/icon2.png) 0 -393px no-repeat}
.menuDiv h3.t6 .cov{ background:url(../images/icon2.png) 0 -457px no-repeat}
.menuDiv h3.t2 .cov:hover,.menuDiv h3.t2 .active{ color:#2f7536}
.menuDiv h3.t3 .cov:hover,.menuDiv h3.t3 .active{ color:#2f7536}
.menuDiv h3.t4 .cov:hover,.menuDiv h3.t4 .active{ color:#2f7536}
.menuDiv h3.t5 .cov:hover,.menuDiv h3.t5 .active{ color:#2f7536}
.menuDiv h3.t6 .cov:hover,.menuDiv h3.t6 .active{ color:#2f7536}
.menuDiv ul li{padding: 0;color: #7f7f7f;height: 40px;line-height: 40px;font-size: 13px;}
.menuDiv ul li a{color:#aeaeae;background:#fff;display:block;padding:0 0 0 40px;font-size:13px;text-decoration:none;}
.menuDiv ul li a:hover{color:#2f7536;}
.menuDiv ul li a.active{color:#2f7536;}

.tal_r{ width:800px; margin:30px 0 0 25px;}
/* -------------------- 会员中心个人设置--------------------  */
.tal_set{ border:1px solid #b5b5b5; border-top:none; background:#fff; padding-bottom:50px }
.tal_set .sec{ background:url(../images/b_icon.png) 0 0 repeat-x; height:33px; width:100%; border-bottom:1px solid #b5b5b5; line-height:33px;border-top:1px solid #b5b5b5;}
.tal_set .sec h3{ color:#616161; font-size:15px; padding-left:23px; font-weight:normal; display:inline}
.tal_set .sec .more{ float:right; background:url(../images/s_icon.png) 0 0 no-repeat; width:68px; height:24px; line-height:24px; text-align:center; margin:4px 19px 0 0;}
.tal_set .sec .more a{ color:#fff; width:100%; height:100%; display:block}
.tal_set .item{ width:730px; height:auto; zoom:1; overflow:hidden; margin:18px auto 0}
.tal_set .item li{ width:100%; overflow:hidden;padding:25px 0 25px; border-bottom:1px solid #b4b4b4 }
.tal_set .item li .state{ width:63px; height:63px; float:left; background:url(../images/s_icon.png) -124px -47px no-repeat; }
.tal_set .item li .state1{ width:63px; height:63px; float:left; background:url(../images/s_icon.png) -124px -138px no-repeat;padding-bottom:5px}
.tal_set .item li .tit{ width:155px; height:63px; line-height:63px; float:left; color:#616161; font-size:15px; font-weight:bold; float:left; padding:0 5px}
.tal_set .item li .des{ width:370px; height:63px; padding-right:20px;color:#616161; float:left; font-size:13px }
.tal_set .item li .des1{ width:370px; height:63px;padding-right:20px;color:#616161; float:left; font-size:13px; line-height:63px }
.tal_set .item li .passbtn{ float:left; line-height:63px; width:106px; text-align:center}
.tal_set .item li .passbtn a{ color:#616161; font-size:14px; text-decoration:underline}
.tal_set .item li .mail{ float:left; background:url(../images/s_icon.png) 0 -455px no-repeat;width:106px; height:24px; text-align:center; line-height:24px; font-size:14px; margin-top:15px}
.tal_set .item li .mail a{ color:#fff; width:100%; height:100%; display:block; }
.tal_set .item li .send{ float:left; background:url(../images/s_icon.png) 0 -455px no-repeat;width:106px; height:24px; text-align:center; line-height:24px; font-size:14px; }
.m50{ margin:10px 0 0 110px}
.tal_set .item li .send a{ color:#fff; width:100%; height:100%; display:block; }
.tal_set .tip { width:540px; margin:25px auto 0; height:auto;zoom:1; overflow:hidden}
.tal_set .tip dt{ color:#616161; font-size:15px; font-weight:bold;}
.tal_set .tip dd{ color:#616161; padding-bottom:10px; font-size:13px}
.tal_set .tip dd a{ color:#2f7536}


/* -------------------- 会员中心个人中心1--------------------  */
.tal_info{ border:1px solid #b5b5b5; border-top:none; background:#fff; padding-bottom:50px }
.tal_info .sec{ background:url(../images/b_icon.png) 0 0 repeat-x; height:33px; width:100%; border-bottom:1px solid #b5b5b5; line-height:33px;border-top:1px solid #b5b5b5;}
.tal_info .sec h3{ color:#616161; font-size:15px; padding-left:23px; font-weight:normal; display:inline}
.tal_info .sec .more{ float:right; background:url(../images/s_icon.png) 0 0 no-repeat; width:68px; height:24px; line-height:24px; text-align:center; margin:4px 19px 0 0;}
.tal_info .sec .more a{ color:#fff; width:100%; height:100%; display:block}
.tal_info .mem{ width:735px; height:21px; line-height:21px; border:1px solid #d9d9d9; background:#f2f2f2 url(../images/s_icon.png) -175px 0 no-repeat; margin:9px auto}
.tal_info .memcc{ width:735px; height:21px; line-height:21px; border:1px solid #d9d9d9; background:#f2f2f2 url(../images/s_icon.png) -175px -17px no-repeat; margin:9px auto}

.tal_info .mem span{ padding-left:30px; color:#676767; font-size:13px}
.tal_info .mem .more{float:right; background:url(../images/s_icon.png) 0 -138px no-repeat; width:50px; height:14px; line-height:14px; text-align:center; margin:4px 8px 0 0;}
.tal_info .mem .more a{ color:#fff; width:100%; height:100%; display:block}

.tal_info .mod{color:#676767; font-size:13px; width:702px; margin:20px auto}
.tal_info .mod dd { margin-bottom:20px; width:100%; height:auto; overflow:hidden;zoom:1}
.tal_info .mod dd .tit{ width:90px; text-align:right; float:left}
.tal_info .mod dd input.nick,.tal_info .mod dd input.real{ width:147px; height:19px; border:1px solid #c7c7c7; line-height:19px; padding-left:5px; float:left;color:#676767;}
.tal_info .mod dd .notice{ padding-left:30px; color:#9c9c9c; float:left}
.tal_info .mod dd select{ width:58px; margin-right:3px; color:#676767}
.tal_info .mod dd .pad11{ padding-left:11px}
.tal_info .mod dd .cen2 input{ height:19px; line-height:19px; float:left}
.tal_info .mod dd .cen2 span{ height:19px; line-height:19px; float:left; padding-right:25px}
.tal_info .mod .cen{ width:191px}
.tal_info .mod dd .save{ width:87px; height:44px; background:url(../images/s_icon.png) 0 -165px no-repeat; color:#fff; font-size:23px; font-weight:600; border:none; cursor:pointer;margin-left:60px }


.tal_info .mod1{color:#676767; font-size:13px; width:750px; margin:20px auto}
.tal_info .mod1 dd { margin-bottom:20px; width:100%; height:auto; overflow:hidden;zoom:1}
.tal_info .mod1 dd .tit{ width:90px; text-align:right; float:left}
.tal_info .mod1 dd .notice{ padding-left:15px; color:#9c9c9c; float:left}
.tal_info .mod1 dd select{ width:147px; margin-right:3px; color:#676767}
.tal_info .mod1 dd .pad11{ padding-left:11px}
.tal_info .mod1 dd .cen input{ height:19px; line-height:19px; float:left; width:340px}
.tal_info .mod1 .cen{ width:356px}
.tal_info .mod1 dd .save{ width:87px; height:44px; background:url(../images/s_icon.png) 0 -165px no-repeat; color:#fff; font-size:23px; font-weight:600; border:none; cursor:pointer; margin-left:60px}



/* -------------------- 会员中心地址管理--------------------  */
.tal_add{ border:1px solid #b5b5b5; border-top:none; background:#fff; padding-bottom:50px }
.tal_add .sec{ background:url(../images/b_icon.png) 0 0 repeat-x; height:33px; width:100%; border-bottom:1px solid #b5b5b5; line-height:33px;border-top:1px solid #b5b5b5;}
.tal_add .sec h3{ color:#616161; font-size:15px; padding-left:23px; font-weight:normal; display:inline}
.tal_add .sec .more{ float:right; background:url(../images/s_icon.png) 0 0 no-repeat; width:68px; height:24px; line-height:24px; text-align:center; margin:4px 19px 0 0;}
.tal_add .sec .more a{ color:#fff; width:100%; height:100%; display:block}
.tal_add .info{ width:733px; height:84px; border:1px solid #b5b5b5; margin:15px auto; padding:10px; font-size:13px}
.tal_add .info .flside{ width:580px; height:84px; float:left}
.tal_add .info .flside ul li{ color:#676767; width:100%; height:25px; line-height:25px}
.tal_add .info .frside{ width:144px; float:left}
.tal_add .info .frside .set{ color:#2f7536;width:144px; height:24px; text-align:center; line-height:24px; font-size:14px; margin-top:5px}
.tal_add .info .frside .set a{ color:#2f7536; width:100%; height:100%; display:block; }
.tal_add .info .frside .other{width:144px; text-align:center; line-height:25px}
.tal_add .info .frside .other a{ color:#67b527; font-size:13px; text-decoration:underline}
.tal_add .mem{ width:735px; height:21px; line-height:21px; border:1px solid #d9d9d9; background:#f2f2f2 url(../images/s_icon.png) -175px 0 no-repeat; margin:25px auto}
.tal_add .mem span{ padding-left:30px; color:#676767; font-size:13px}


.tal_add .newaddress{margin:0 auto;color:#5d5d5d; font-size:13px; width:635px}
.tal_add .newaddress dl{padding-bottom:10px;}
.tal_add .newaddress dl dt{float:left;width:164px;}
.tal_add .newaddress dl dd{}
.tal_add .newaddress dl dd span{text-align:center;display:inline-block;}
.tal_add .newaddress dl dd .atip{width:218px; }
.tal_add .newaddress dl dd .atip1{width:448px;color:#d4d4d4}
.tal_add .newaddress .atext1{width:216px;height:24px;line-height:26px;border:1px solid #f0f0f0;}
.tal_add .newaddress .atext2{width:446px;height:24px;line-height:26px;border:1px solid #f0f0f0;}
.tal_add .newaddress .atext3{width:416px}
.btn_sure1{width:87px; height:44px; background:url(../images/s_icon.png) 0 -165px no-repeat; color:#fff; font-size:23px; font-weight:600; border:none; cursor:pointer;  text-indent:-9999px}
.btn_sure2{width:146px; height:44px; background:url(../images/s_icon.png) 0 -496px no-repeat; color:#fff; font-size:23px; font-weight:600; border:none; cursor:pointer;  text-indent:-9999px;
display:block}
.btn_sure3{width:109px; height:44px; background:url(../images/s_icon.png) -160px -496px no-repeat; color:#fff; font-size:23px; font-weight:600; border:none; cursor:pointer;  text-indent:-9999px;
display:block; float:left}
.btn_sure4{width:157px; height:44px; background:url(../images/s_icon.png) 0 -544px no-repeat; color:#fff; font-size:23px; font-weight:600; border:none; cursor:pointer;  text-indent:-9999px;
display:block; float:left; margin-right:10px}


/* -------------------- 会员中心会员等级--------------------  */
.tal_vip{ border:1px solid #b5b5b5; border-top:none; background:#fff; color:#616161  }
.tal_vip .rec{ background:url(../images/b_icon.png) 0 0 repeat-x; height:33px; width:100%; border-bottom:1px solid #b5b5b5; line-height:33px;border-top:1px solid #b5b5b5;}
.tal_vip .rec h3{ color:#616161; font-size:15px; padding-left:23px; font-weight:normal; display:inline}
.tal_vip .rec .more{ float:right; background:url(../images/s_icon.png) 0 0 no-repeat; width:68px; height:24px; line-height:24px; text-align:center; margin:4px 19px 0 0;}
.tal_vip .rec .more a{ color:#fff; width:100%; height:100%; display:block}
.tal_vip .grdes{ padding:20px 0 30px 20px; font-size:14px}
.tal_vip .grdes span{ padding-left:18px}
.tal_vip .grade{ width:610px; margin:0 auto; background:url(../images/vip-gd.jpg) no-repeat; height:27px; font-size:14px; position: relative;}
.tal_vip .grade ul{position: absolute;left: 0;top: 0;z-index: 999;}
.tal_vip .grade ul li {float: left;width:122px;}
.tal_vip .grade dl{position: relative;display: inline-block;}
.tal_vip .grade dl dt{position: relative; width:122px; height:27px; color:#fff; line-height:27px; color:#fff;text-align:center; cursor:pointer; z-index:10px}
.tal_vip .grade dl dd{ width:116px; margin:0 2px;text-align:center; z-index:9; position:relative; display:none; left:0; top:0}
.tal_vip .grade dl dd.icon{ width:15px; height:13px; margin:0 auto; background:url(../images/s_icon.png) -307px -89px no-repeat}
.tal_vip .grade dl dd.box{width:111px; height:106px; border:1px solid #c7c7c7; border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px; padding-left:5px; font-size:13px; background:#fff }
.tal_vip .grade dl dd.box dt{ color:#717171;text-align:left }
.tal_vip .grade dl dd.box dd{ color:#ffc046;text-align:left }
.tal_vip .grade li dl:hover dd{display:block}
.tal_vip .des{ width:290px; height:45px; margin:25px auto; text-align:center; font-size:13px}
.tal_vip .des a{ color:#ca3030; text-decoration:underline}
.tal_vip .des span{color:#ca3030;}

.tal_vip .vipbtn{ width:243px; height:67px; margin:30px auto; background:url(../images/s_icon.png) 0 -249px no-repeat; text-align:center}
.tal_vip .vipbtn a{ width:243px; height:67px; line-height:67px; display:block; color:#fff; font-size:18px}
.tal_vip .page{ width:781px; height:32px; line-height:32px; text-align:right; color:#727272; background:#e5e5e5;padding-right:17px; font-size:14px; margin-top:70px}


/* -------------------- 会员中心我的积分--------------------  */
.tal_fen{ border:1px solid #b5b5b5; border-top:none; }
.tal_fen .rec{ background:url(../images/b_icon.png) 0 0 repeat-x; height:33px; width:100%; border-bottom:1px solid #b5b5b5; line-height:33px;border-top:1px solid #b5b5b5;}
.tal_fen .rec h3{ color:#616161; font-size:15px; padding-left:23px; font-weight:normal; display:inline}
.tal_fen .rec .more{ float:right; background:url(../images/s_icon.png) 0 0 no-repeat; width:68px; height:24px; line-height:24px; text-align:center; margin:4px 19px 0 0;}
.tal_fen .rec .more a{ color:#fff; width:100%; height:100%; display:block}
.tal_fen .num{ color:#616161; font-size:15px; font-weight:bold; padding:10px 0 5px 25px}
.tal_fen .num span{ color:#67b527; font-size:25px; font-weight:normal}
.tal_fen .num .hget{ background:url(../images/s_icon.png) -194px -138px no-repeat; width:118px; height:27px; float:right; padding-right:20px; margin-left:30px}
.tal_fen .num .hget a{width:118px; height:27px; display:block; text-align:center; color:#fff; line-height:27px; font-weight:normal; font-size:13px}
.tal_fen table.t1{ border-bottom:1px solid #b5b5b5; color:#616161; width:798px;border-top:1px solid #b5b5b5; }
.tal_fen table.t1 th{ height:25px; line-height:25px;  background:url(../images/b_icon.png) 0 -39px repeat-x; font-size:14px }

.tal_fen table.t2{  border-top:none; color:#616161; width:763px;  }
.tal_fen table.t2 th{ height:19px; line-height:19px; text-align:left; color:#616161; background:#f5f5f5;border-radius:8px 8px 0 0;-webkit-border-radius:8px 8px 0 0; -moz-border-radius:8px 8px 0 0; padding-left:5px }
.tal_fen .ord{width:763px;border-radius:8px;-webkit-border-radius:8px; -moz-border-radius:8px; border:1px solid #b5b5b5; margin:15px auto; padding-bottom:10px;background:#fff }

.tal_fen table.t2 td{ border-right:1px solid #f5f5f5; text-align:center}
.tal_fen table.t2 td img{ width:66px; height:41px; padding-top:5px}
.tal_fen table.t2 .f14{ font-size:14px}
.tal_fen table.t2 .tit{ color:#67b527}
.tal_fen table.t2 .price{ color:#ec0606}
.tal_fen table.t2 .item{ border-right:1px solid #b5b5b5;}
.tal_fen table.t2 .give{ width:65px; height:19px; background:url(../images/s_icon.png) 0 -29px no-repeat; text-align:center; color:#fff; margin-bottom:2px}
.tal_fen table.t2 a{ color:#fff}
.tal_fen .rec .more1{ float:right; background:url(../images/s_icon.png) -123px 0 no-repeat; width:41px; height:24px; line-height:24px; text-align:center; margin:4px 19px 0 0;}
.tal_fen .rec .more1 a{ color:#fff; width:100%; height:100%; display:block; text-indent:-9999px}

.tal_fen .arr{ width:776px; border:1px solid #b4b4b4;border-radius:0 0 8px 8px;-webkit-border-radius:0 0 8px 8px; -moz-border-radius:0 0 8px 8px;background:#fff; padding:10px 0; margin:0 auto 10px; border-top:none }
.tal_fen .arr img{ width:138px; height:175px}
.tal_fen .arr table{border-top:none; color:#616161; width:776px; text-align:center }

.tal_fen .hot{ width:778px; border:1px solid #b4b4b4;background:#fff;  margin:25px auto; height:114px }
.tal_fen .page{ width:781px; height:32px; line-height:32px; text-align:right; color:#727272; background:#e5e5e5;padding-right:17px; font-size:14px; margin-top:20px}


/* -------------------- 会员中心我的评论--------------------  */
/* tab */
.tal_ment .tab{width:798px;position:relative;margin:11px auto 31px;}
.tal_ment .tab .tab_menu{width:766px;float:left;position:absolute;z-index:1; left:17px; border-bottom:1px solid #b4b4b4}
.tal_ment .tab .tab_menu li{float:left; padding:0 10px;height:30px;line-height:30px;cursor:pointer;text-align:center;margin:0 7px 0 0;
background:url(../images/b_icon.png) 0 -70px repeat-x; color:#616161; top:1px; position:relative;border:1px solid #b4b4b4; border-radius:3px 3px 0 0; -webkit-border-radius:3px 3px 0 0; -moz-border-radius:3px 3px 0 0;-moz-box-shadow: inset 0 1px 1px rgba(229,229,229,1); -webkit-box-shadow: inset 0 1px 1px rgba(229,229,229,1);box-shadow: inset 0 1px 1px rgba(229,229,229,1);}
.tal_ment .tab .tab_box{width:798px; height:auto; overflow:hidden; zoom:1;clear:both;top:31px;position:relative;}
.tal_ment .tab .tab_menu .selected{cursor:pointer;border:1px solid #b4b4b4; border-radius:3px 3px 0 0; -webkit-border-radius:3px 3px 0 0; -moz-border-radius:3px 3px 0 0;border-bottom:1px solid #fff; background:#fff;-moz-box-shadow: inset 0 1px 1px rgba(229,229,229,1);-webkit-box-shadow: inset 0 1px 1px rgba(229,229,229,1);box-shadow: inset 0 1px 1px rgba(229,229,229,1);
}
.hide{display:none;}
.tal_ment .tab .tab_box .page{ width:781px; height:32px; line-height:32px; text-align:right; color:#727272; background:#e5e5e5;padding-right:17px; font-size:14px; margin-top:50px}
.tal_ment{ border:1px solid #b5b5b5; border-top:none; background:#fff;   }
.tal_ment .rec{ background:url(../images/b_icon.png) 0 0 repeat-x; height:33px; width:100%; border-bottom:1px solid #b5b5b5; line-height:33px;border-top:1px solid #b5b5b5;}
.tal_ment .rec h3{ color:#616161; font-size:15px; padding-left:23px; font-weight:normal; display:inline}
.tal_ment .rec .more{ float:right; background:url(../images/s_icon.png) 0 0 no-repeat; width:68px; height:24px; line-height:24px; text-align:center; margin:4px 19px 0 0;}
.tal_ment .rec .more a{ color:#fff; width:100%; height:100%; display:block}
.tal_ment table.t1{ border:1px solid #b5b5b5; color:#616161; width:766px; margin:10px auto }
.tal_ment table.t1 th{ height:25px; line-height:25px; font-size:13px; background:#f5f5f5 }

.tal_ment table.t2{  border-top:none; color:#616161; width:763px;  }
.tal_ment table.t2 th{ height:19px; line-height:19px; text-align:left; color:#616161; background:#f5f5f5;border-radius:8px 8px 0 0;-webkit-border-radius:8px 8px 0 0; -moz-border-radius:8px 8px 0 0; padding-left:5px }
.tal_ment .ord{width:763px;border-radius:8px;-webkit-border-radius:8px; -moz-border-radius:8px; border:1px solid #b5b5b5; margin:15px auto; padding-bottom:10px;background:#fff }

.tal_ment table.t2 td{ border-right:1px solid #f5f5f5; }
.tal_ment table.t2 td img{ width:66px; height:41px; padding-top:5px}
.tal_ment table.t2 .f14{ font-size:14px}
.tal_ment table.t2 .tit{ color:#67b527;width:150px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.tal_ment table.t2 .price{ color:#ec0606}
.tal_ment table.t2 .item{ border-right:1px solid #b5b5b5;}
.tal_ment table.t2 .view{ width:65px; height:19px; background:url(../images/s_icon.png) 0 -29px no-repeat; text-align:center; color:#fff; margin-bottom:2px}
.tal_ment table.t2 .view a{ color:#fff;width:65px; height:19px; line-height:19px; text-align:center; display:block}
.tal_ment table.t2 .last a{ color:#67b527; font-size:13px; text-decoration:underline; display:block}


.tal_ment table.t2 .item{ border-right:1px solid #b5b5b5;}
.tal_ment table.t2 .sell{ width:93px; height:19px; background:url(../images/s_icon.png) 0 -53px no-repeat;text-align:center; color:#fff;margin-bottom:2px;margin-top: 10px;margin-bottom: 10px;}
.tal_ment table.t2 .re{ width:95px; height:19px; background:url(../images/s_icon.png) 0 -81px no-repeat;text-align:center; color:#fff;margin-bottom:2px}
.tal_ment table.t2 .com{ width:73px; height:19px; background:url(../images/s_icon.png) 0 -109px no-repeat;text-align:center; color:#fff;margin-bottom:2px;margin-bottom: 15px;}
.tal_ment table.t2 .re a,.tal_ment table.t2 .sell A,.tal_ment table.t2 .com a{color:#fff;}
.tal_ment .ord1{width:766px;border-radius:8px;-webkit-border-radius:8px; -moz-border-radius:8px; border:1px solid #b5b5b5;margin:10px auto 40px; padding-bottom:10px;background:#fff }



/* -------------------- 会员中心我的收藏--------------------  */
/* tab */
.tal_coll .tab{width:798px;position:relative;margin:11px auto 31px;}
.tal_coll .tab .tab_menu{width:766px;float:left;position:absolute;z-index:1; left:17px; border-bottom:1px solid #b4b4b4}
.tal_coll .tab .tab_menu li{float:left;width:98px;height:32px;line-height:32px;border-bottom:0px;cursor:pointer;text-align:center;margin:0 7px 0 0;background:url(../images/s_icon.png) -294px -47px no-repeat; color:#616161; top:1px; position:relative;border-bottom:1px solid #b4b4b4}
.tal_coll .tab .tab_box{width:798px; height:auto; overflow:hidden; zoom:1;clear:both;top:31px;position:relative;}
.tal_coll .tab .tab_menu .selected{ background:url(../images/s_icon.png) -189px -47px no-repeat;cursor:pointer;border-bottom:1px solid #fff}
.hide{display:none;}
.tal_coll .tab .tab_box .page{ width:781px; height:32px; line-height:32px; text-align:right; color:#727272; background:#e5e5e5;padding-right:17px; font-size:14px}
.tal_coll{ border:1px solid #b5b5b5; border-top:none; background:#fff;   }
.tal_coll .rec{ background:url(../images/b_icon.png) 0 0 repeat-x; height:33px; width:100%; border-bottom:1px solid #b5b5b5; line-height:33px;border-top:1px solid #b5b5b5;}
.tal_coll .rec h3{ color:#616161; font-size:15px; padding-left:23px; font-weight:normal; display:inline}
.tal_coll .rec .more{ float:right; background:url(../images/s_icon.png) 0 0 no-repeat; width:68px; height:24px; line-height:24px; text-align:center; margin:4px 19px 0 0;}
.tal_coll .rec .more a{ color:#fff; width:100%; height:100%; display:block}
.tal_coll .all{ border:1px solid #b5b5b5; color:#616161; width:736px; margin:10px auto;height:22px; line-height:22px; padding:3px 15px  }
.tal_coll .all .icon{ width:61px; height:18px; line-height:18px; text-align:center; background:url(../images/s_icon.png) -193px -89px no-repeat;  border-right:1px solid #6c6c6c; margin:3px 0; padding-right:10px; float:left}
.tal_coll .all .icon a{ color:#fff; width:100%; height:100%; display:block }
.tal_coll .all .des{ padding:0 10px; line-height:22px}

.tal_coll table.t2{  border-top:none; color:#616161; width:766px;  }
.tal_coll table.t2 th{ height:26px; line-height:26px; text-align:left; color:#616161; background:#f5f5f5;border-radius:8px 8px 0 0;-webkit-border-radius:8px 8px 0 0; -moz-border-radius:8px 8px 0 0; padding-left:5px }
.tal_coll .ord{width:766px;border-radius:8px;-webkit-border-radius:8px; -moz-border-radius:8px; border:1px solid #b5b5b5;margin:10px auto 20px; padding-bottom:10px;background:#fff }
.tal_coll table.t2 .cen{ text-align:center}
.tal_coll table.t2 .pad30{ padding-left:33px}
.tal_coll table.t2 td{ border-right:1px solid #f5f5f5; text-align:center; padding:3px 0}
.tal_coll table.t2 .tit{ color:#67b527}
.tal_coll table.t2 .price{ color:#ec0606;font-size:16px}
.tal_coll table.t2 .item{ border-right:1px solid #b5b5b5;}
.tal_coll table.t2 .buy{ width:80px; height:17px; background:url(../images/s_icon.png) -193px -114px no-repeat; text-align:center; color:#fff; margin-bottom:2px; margin-left:8px}
.tal_coll table.t2 .sell{ width:95px; height:19px; text-align:center; color:#fff;margin-bottom:2px}
.tal_coll table.t2 .re{ width:95px; height:19px; text-align:center; color:#fff;margin-bottom:2px}
.tal_coll table.t2 .com{ width:105px; height:19px;text-align:center; color:#fff;margin-bottom:2px}
.tal_coll table.t2 a{ color:#616161}
.tal_coll table.t2 .buy a{ color:#fff}

/* -------------------- 会员中心我的投诉--------------------  */
.tal_plain{ border:1px solid #b5b5b5; border-top:none; background:#fff; padding-bottom:50px }
.tal_plain .sec{ background:url(../images/b_icon.png) 0 0 repeat-x; height:33px; width:100%; border-bottom:1px solid #b5b5b5; line-height:33px;border-top:1px solid #b5b5b5;}
.tal_plain .sec h3{ color:#616161; font-size:15px; padding-left:23px; font-weight:normal; display:inline}
.tal_plain .mem{ width:735px; height:21px; line-height:21px; border:1px solid #d9d9d9; background:#f2f2f2 url(../images/s_icon.png) -175px 0 no-repeat; margin:9px auto}
.tal_plain .sec .more{ float:right; background:url(../images/s_icon.png) 0 0 no-repeat; width:68px; height:24px; line-height:24px; text-align:center; margin:4px 19px 0 0;}
.tal_plain .sec .more a{ color:#fff; width:100%; height:100%; display:block}

.tal_plain .mod{color:#676767; font-size:13px; width:740px; margin:20px auto}
.tal_plain .mod dd { margin-bottom:20px; width:100%; height:auto; overflow:hidden;zoom:1}
.tal_plain .mod dd .tit{ width:130px;  float:left}
.tal_plain .mod dd .notice{ padding-left:15px; color:#9c9c9c; float:left; width:440px}
.tal_plain .mod dd .notice span{ color:#2f7536}
.tal_plain .mod dd select{ width:161px; margin-right:3px; color:#676767}
.tal_plain .mod dd .pad11{ padding-left:11px}
.tal_plain .mod dd .cen input{ height:19px; line-height:19px; float:left; width:147px}
.tal_plain .mod .cen{ width:155px}
.tal_plain .mod dd .release{ width:109px; height:44px; background:url(../images/s_icon.png) 0 -326px no-repeat; color:#fff; font-size:23px; font-weight:600; border:none; cursor:pointer; margin-left:130px}
.tal_plain .mod dd textarea{ width:300px; height:100px;}



/* -------------------- 会员中心退货管理--------------------  */
.tal_turn .page{ width:781px; height:32px; line-height:32px; text-align:right; color:#727272; background:#e5e5e5;padding-right:17px; font-size:14px; margin-top:50px}
.tal_turn{ border:1px solid #b5b5b5; border-top:none; background:#fff;   }
.tal_turn .rec{ background:url(../images/b_icon.png) 0 0 repeat-x; height:33px; width:100%; border-bottom:1px solid #b5b5b5; line-height:33px;border-top:1px solid #b5b5b5;}
.tal_turn .rec h3{ color:#616161; font-size:15px; padding-left:23px; font-weight:normal; display:inline}
.tal_turn .rec .more{ float:right; background:url(../images/s_icon.png) 0 0 no-repeat; width:68px; height:24px; line-height:24px; text-align:center; margin:4px 19px 0 0;}
.tal_turn .rec .more a{ color:#fff; width:100%; height:100%; display:block}

.tal_turn table.t1{ border:1px solid #b5b5b5; color:#616161; width:766px; margin:30px auto 10px }
.tal_turn table.t1 th{ height:25px; line-height:25px; font-size:13px; background:#f5f5f5 }

.tal_turn table.t2{  border-top:none; color:#616161; width:763px; text-align:center  }
.tal_turn table.t2 th{ height:19px; line-height:19px; text-align:left; color:#616161; background:#f5f5f5;border-radius:8px 8px 0 0;-webkit-border-radius:8px 8px 0 0; -moz-border-radius:8px 8px 0 0; padding-left:5px }
.tal_turn .ord{width:763px;border-radius:8px;-webkit-border-radius:8px; -moz-border-radius:8px; border:1px solid #b5b5b5; margin:15px auto; padding-bottom:10px;background:#fff }

.tal_turn table.t2 td{ border-right:1px solid #f5f5f5; padding:5px 0 }
.tal_turn table.t2 td img{ width:66px; height:41px; padding-top:5px}
.tal_turn table.t2 .f14{ font-size:14px}
.tal_turn table.t2 .tit{ color:#67b527}
.tal_turn table.t2 .ture{ color:#df0d6a}
.tal_turn table.t2 .item{ border-right:1px solid #b5b5b5;}
.tal_turn table.t2 .view{ width:65px; height:19px; background:url(../images/s_icon.png) 0 -29px no-repeat; text-align:center; color:#fff; margin-bottom:2px}
.tal_turn table.t2 .view a{ color:#fff;width:65px; height:19px; line-height:19px; text-align:center; display:block}
.tal_turn table.t2 .last a{ color:#67b527; font-size:14px; text-decoration:underline; display:block}



/* -------------------- 会员中心我的咨询--------------------  */
.tal_sult .page{ width:781px; height:32px; line-height:32px; text-align:right; color:#727272; background:#e5e5e5;padding-right:17px; font-size:14px; margin-top:50px}
.tal_sult{ border:1px solid #b5b5b5; border-top:none; background:#fff;   }
.tal_sult .rec{ background:url(../images/b_icon.png) 0 0 repeat-x; height:33px; width:100%; border-bottom:1px solid #b5b5b5; line-height:33px;border-top:1px solid #b5b5b5;}
.tal_sult .rec h3{ color:#616161; font-size:15px; padding-left:23px; font-weight:normal; display:inline}
.tal_sult .rec .more{ float:right; background:url(../images/s_icon.png) 0 0 no-repeat; width:68px; height:24px; line-height:24px; text-align:center; margin:4px 19px 0 0;}
.tal_sult .rec .more a{ color:#fff; width:100%; height:100%; display:block}
.tal_sult table.t1{ border:1px solid #b5b5b5; color:#616161; width:766px; margin:10px auto }
.tal_sult table.t1 th{ height:25px; line-height:25px; font-size:13px; background:#f5f5f5 }

.tal_sult table.t2{  border-top:none; color:#616161; width:763px; padding:5px 0  }
.tal_sult table.t2 th{ height:19px; line-height:19px; text-align:left; color:#616161; background:#f5f5f5;border-radius:8px 8px 0 0;-webkit-border-radius:8px 8px 0 0; -moz-border-radius:8px 8px 0 0; padding-left:5px }
.tal_sult .ord{width:763px;border-radius:8px;-webkit-border-radius:8px; -moz-border-radius:8px; border:1px solid #b5b5b5; margin:15px auto; padding-bottom:10px;background:#fff }

.tal_sult table.t2 td{ border-right:1px solid #f5f5f5; }
.tal_sult table.t2 td img{ width:66px; height:41px; padding-top:15px}
.tal_sult table.t2 .f14{ font-size:14px}
.tal_sult table.t2 .tit{ color:#67b527}
.tal_sult table.t2 .price{ color:#ec0606}
.tal_sult table.t2 .item{ border-right:1px solid #b5b5b5;}
.tal_sult table.t2 .view{ width:65px; height:19px; background:url(../images/s_icon.png) 0 -29px no-repeat; text-align:center; color:#fff; margin-bottom:2px}
.tal_sult table.t2 .view a{ color:#fff;width:65px; height:19px; line-height:19px; text-align:center; display:block}
.tal_sult table.t2 .last a{ color:#67b527; font-size:14px; text-decoration:underline; display:block}
.tal_sult table.t2 .pad20{ padding-left:15px}



/* -------------------- 个人中心-------------------- */
.tal_r .xxi{ width:798px; border:1px solid #b4b4b4; margin-bottom:30px;background:#fff }
.tal_r .xxi .sect1{ padding:22px; width:754px; border-bottom:1px solid #b4b4b4} 
.tal_r .xxi .rec{ background:#2f7536; height:33px; width:100%; border-bottom:1px solid #b5b5b5; line-height:33px;}
.tal_r .xxi .rec h3{ color:#fff; font-size:15px; padding-left:23px; font-weight:normal; display:inline}
.tal_r .xxi .rec .more{ float:right; background:url(../images/s_icon.png) 0 0 no-repeat; width:68px; height:24px; line-height:24px; text-align:center; margin:4px 19px 0 0;}
.tal_r .xxi .rec .more a{ color:#fff; width:100%; height:100%; display:block} 
 .tal_r .xxi .sect1 .hpic{ width:121px; text-align:center}
.tal_r .xxi .sect1 .hpic img{ width:100px; height:100px; border:2px solid #949494;border-radius:60px;-webkit-border-radius:60px; -moz-border-radius:60px; }
.tal_r .xxi .sect1 .vip img{ width:121px; height:20px;padding:10px 0 0 0;  }
.tal_r .xxi .sect1 span.name{ color:#8f8f8f; font-size:20px; height:20px; display:inline-block; padding:22px 0 0 15px}
.tal_r .xxi .sect1 span.desc{ color:#8f8f8f; font-size:13px; height:20px; display:inline-block; padding:10px 0 0 15px}
.tal_r .xxi .sect1 span.vip{ width:100px; text-align:center; display:inline-block;color:#8f8f8f;}
.tal_r .xxi .sect1 ul{padding:10px 0 0 15px}
.tal_r .xxi .sect1 ul li{ padding-top:40px; color:#8f8f8f; float:left;font-size:13px; padding-right:15px}
.tal_r .xxi .sect1 ul li span{ color:#2f7536}
.xxi  .sect2{ width:100%; height:auto; overflow:hidden; zoom:1}
.xxi  .sect2 .rec{background:#f1f1f1; height:33px; width:100%; border-bottom:1px solid #b5b5b5; border-top:1px solid #9a9a9a; line-height:33px; }
.xxi  .sect2 .rec h3{ color:#2f7536}
.xxi  .sect2 .rec .more{ float:right; background:url(../images/s_icon.png) 0 0 no-repeat; width:68px; height:24px; line-height:24px; text-align:center; margin:4px 19px 0 0;}
.xxi  .sect2 .rec .more a{ color:#fff; width:100%; height:100%; display:block} 
.xxi  .sect2 .pic { width:798px; height:287px;}
.xxi  .sect4{ width:100%; height:auto; overflow:hidden; zoom:1}
.xxi  .sect4 .rec{ background:#f1f1f1; height:33px; width:100%; border-bottom:1px solid #b5b5b5; line-height:33px;}
.xxi  .sect4 .rec h3{ color:#2f7536; font-size:15px; padding-left:23px; font-weight:normal; display:inline}
.xxi  .sect4 .rec span{ color:#818181; font-size:13px; padding-left:20px}
.xxi  .sect4 .rec i{ color:#2f7536; }
.xxi  .sect4 .rec .more1{ float:right; background:url(../images/s_icon.png) -123px 0 no-repeat; width:41px; height:24px; line-height:24px; text-align:center; margin:4px 19px 0 0;}
.xxi  .sect4 .rec .more1 a{ color:#fff; width:100%; height:100%; display:block; text-indent:-9999px}
.xxi  .sect4 table{ width:783px; height:421px;  text-align:center; color:#7c7c7c; margin:15px auto;}
.xxi  .sect4 table th{ background:#2f7536; color:#fff; height:40px;}
.xxi  .sect4 table td{ height:50px;border:1px solid #b3b3b3;}
.xxi  .sect4 .pic{ width:736px; height:83px; margin:20px auto}
.xxi .circle{border-radius:10px 0 0 0; -webkit-border-radius:10px 0 0 0; -moz-border-radius:10px 0 0 0;}
.xxi .circle1{border-radius:0 10px 0 0; -webkit-border-radius:0 10px 0 0; -moz-border-radius:0 10px 0 0;}
.xxi .circle2{border-radius:0 0 10px 0; -webkit-border-radius:0 0 10px 0; -moz-border-radius:0 0 10px 0;}
.xxi .circle3{border-radius:0 0 0 10px; -webkit-border-radius:0 0 0 10px; -moz-border-radius:0 0 0 10px;}
/* tab */
.tal_r .xxi .tab{width:798px;position:relative;margin:0 auto 50px; }
.tal_r .xxi .tab .tab_menu{width:100%;float:left;position:absolute;z-index:1;}
.tal_r .xxi .tab .tab_menu li{float:left;height:20px;line-height:20px;border-right:1px solid #9a9a9a;cursor:pointer; color:#787878; font-size:15px; padding:16px 30px}
.tal_r .xxi .tab .tab_box{ width:798px;clear:both;top:52px;position:relative;border-top:1px solid #9a9a9a;border-bottom:1px solid #9a9a9a;}
.tal_r .xxi .tab .tab_menu .selected{color:#2f7536; }
.hide{display:none;}
.tal_r .xxi .tab_box div{padding:20px 30px;} 
.tal_r .xxi .tab .tab_box li input{height:50px;margin-right: 8px; float:left; }
.tal_r .xxi .tab .tab_box li .con{ line-height:50px; float:left;padding:0; color:#636363; font-size:14px}
.tal_r .xxi .tab .tab_box li .time{line-height:50px; float:right; padding:0; color:#636363; font-size:14px}
.tal_r .xxi .tab .tab_box li{ width:100%; height:50px; line-height:50px}
.tal_r .xxi .tab .tab_menu li.t1{padding:16px 40px}
.tal_r .xxi .tab .tab_menu li.t2{padding:16px 40px}
.tal_r .xxi .tab .tab_menu li.t3{padding:16px 40px}
.tal_r .xxi .tab .tab_menu li div{ padding-left:20px}
.tal_r .xxi .tab .tab_menu li.t1 .sys1{ background:url(../images/icon2.png) -447px -337px no-repeat;}
.tal_r .xxi .tab .tab_menu li.t1 .sys{ background:url(../images/icon2.png) -422px -422px no-repeat;}
.tal_r .xxi .tab .tab_menu li.t2 .sys1{ background:url(../images/icon.png) -421px -364px no-repeat;}
.tal_r .xxi .tab .tab_menu li.t2 .sys{ background:url(../images/icon.png) -422px -449px no-repeat;}
.tal_r .xxi .tab .tab_menu li.t3 .sys1{ background:url(../images/icon.png) -422px -391px no-repeat;}
.tal_r .xxi .tab .tab_menu li.t3 .sys{ background:url(../images/icon.png) -423px -476px no-repeat;}

.tal_r .xxi .sect3{ padding:20px 30px; height:30px;}
.tal_r .xxi .sect3 input{ line-height:30px; height:30px; margin-right:20px; float:left}
.tal_r .xxi .sect3 .con a{ line-height:30px; float:left;padding:0; color:#67b527; font-size:14px}
.tal_r .xxi .sect3 .con a.one{ padding-right:15px}


/* --------------页码----------*/

DIV.black4 {
	  TEXT-ALIGN: right; font-size:14px; margin-top:10px;padding-bottom:15px;
}
DIV.black4 A {
	 COLOR: #fff; padding:0 5px;  TEXT-DECORATION: none;BACKGROUND-COLOR: #8f8f8f; margin-right:10px
}
DIV.black4 A:hover {
	 COLOR: #fff; BACKGROUND-COLOR: #67b527;
}
DIV.black4 A:active {
	 COLOR: #fff;BACKGROUND-COLOR: #67b527
}
DIV.black4 SPAN.current {
	 COLOR: #fff; BACKGROUND-COLOR: #67b527;padding:0 5px;margin-right:10px
}
DIV.black4 SPAN.disabled {
	BORDER: #e5e5e5 1px solid;  COLOR: #ddd; padding:0px 5px;margin-right:10px
}
DIV.black4 .jump{ border:none;background:url(../images/icon.png) -256px -317px; height:37px; width:40px; cursor:pointer; color:#fff}



/*--------------------------选择商品-------------------*/
.l_nav{ height:55px; width:100%; background:#2f7536;}
.login_box{ margin:20px 0 200px; width:100%; height:400px}
.l_login{ width:570px; height:491px; float:left; border-right:1px solid #dadada}
.r_login{ float:left; width:410px; padding-left:30px}
.r_login .logo{ width:205px; height:144px; margin:20px auto}
.r_login ul{ width:386px; margin:0 auto}
.r_login li{ width:386px; height:44px; margin-bottom:15px; position:relative}
.r_login li input{ width:334px; height:42px; border:1px solid #b2b2b2; border-radius:4px;-webkit-border-radius:4px; -moz-border-radius:4px; padding-left:50px; color:#6fb343; font-size:16px; line-height:42px; padding-right:0}
.r_login li input.user{ background:url(../images/icon.png) 10px -337px no-repeat}
.r_login li input.pass{ background:url(../images/icon.png) 10px -403px no-repeat}
.r_login li input.phone{ background:url(../images/icon.png) 10px -576px no-repeat; }
.r_login li input.vail{ width:160px; float:left; padding-left:5px}
.r_login li .vailg{ width:171px; height:44px; background:url(../images/icon.png) 0 -467px no-repeat; float:right}
.r_login li .vnum{ width:149px; height:44px; line-height:44px; background:url(../images/icon.png) -251px -527px no-repeat; float:right; text-align:center; color:#fff; position:absolute; top:0; right:0;font-size:16px;}
.r_login li .vnum a{ width:100%; height:100%; display:block; color:#fff}
.r_login li .vailg .num{ color:#fff; text-align:center; width:82px; line-height:44px; float:left; font-size:16px}
.r_login li .vailg .sx{ width:78px; background:url(../images/icon.png) -168px -467px no-repeat; line-height:44px; display:block; float:right; text-indent:-9999em; border-left:1px solid #fff}
.r_login li .down{ width:193px; background:#ffa200;border-radius:4px;-webkit-border-radius:4px; -moz-border-radius:4px; text-align:center; color:#fff; line-height:49px; float:left; font-size:18px; position:relative; z-index:3}
.r_login li span{ line-height:49px; color:#e39206; padding-left:8px; font-size:14px}
.r_login li .l_btn{ width:171px; height:49px; float:right; background:url(../images/icon.png) 0 -522px no-repeat; text-align:center; font-size:18px; position:relative}
.r_login li .l_btn a.log{ width:171px; height:49px; line-height:49px; color:#fff; display:block}
.r_login li a.reg{ color:#2e9507; padding:0 0 0 10px; font-size:16px; float:right}
.r_login li a.reg:hover{ color:#216407}
.r_login li .l_btn .box{position:absolute; top:59px; left:0; width:100%}
.r_login li.erwei{ width:193px; height:169px; position:relative; top:-18px; display:none; z-index:1}
.r_reg .logo{ width:101px; height:71px; margin:10px auto}



/* -------------------- 会员中心订单管理--------------------  */
/* tab */
.tal_ord .tab{width:798px;position:relative;margin:11px auto 31px;}
.tal_ord .tab .tab_menu{width:766px;float:left;position:absolute;z-index:1; left:17px; border-bottom:1px solid #b4b4b4}
.tal_ord .tab .tab_menu li{float:left;width:98px;height:32px;line-height:32px;border-bottom:0px;cursor:pointer;text-align:center;margin:0 7px 0 0;background:url(../images/s_icon.png) -294px -47px no-repeat; color:#616161; top:1px; position:relative;border-bottom:1px solid #b4b4b4}
.tal_ord .tab .tab_box{width:798px; height:auto; overflow:hidden; zoom:1;clear:both;top:31px;position:relative;}
.tal_ord .tab .tab_menu .selected{ background:url(../images/s_icon.png) -189px -47px no-repeat;cursor:pointer;border-bottom:1px solid #fff}
.hide{display:none;}
.tal_ord .tab .tab_box .page{ width:781px; height:32px; line-height:32px; text-align:right; color:#727272; background:#e5e5e5;padding-right:17px; font-size:14px}
.tal_ord{ border:1px solid #b5b5b5; border-top:none; background:#fff;   }
.tal_ord .rec{ background:url(../images/b_icon.png) 0 0 repeat-x; height:33px; width:100%; border-bottom:1px solid #b5b5b5; line-height:33px;border-top:1px solid #b5b5b5;}
.tal_ord .rec h3{ color:#616161; font-size:15px; padding-left:23px; font-weight:normal; display:inline}
.tal_ord .rec .more{ float:right; background:url(../images/s_icon.png) 0 0 no-repeat; width:68px; height:24px; line-height:24px; text-align:center; margin:4px 19px 0 0;}
.tal_ord .rec .more a{ color:#fff; width:100%; height:100%; display:block}
.tal_ord table.t1{ border:1px solid #b5b5b5; color:#616161; width:766px; margin:10px auto }
.tal_ord table.t1 th{ height:28px; line-height:28px; text-align:left; padding-left:5px; text-align:center }
.tal_ord table.t1 th.fc{ text-align:left}
.tal_ord table.t2{  border-top:none; color:#616161; width:766px;  }
.tal_ord table img{ width:66px; height:auto}
.tal_ord table.t2 th{ height:21px; line-height:21px; text-align:left; color:#fff; background:#2f7536;border-radius:8px 8px 0 0;-webkit-border-radius:8px 8px 0 0; -moz-border-radius:8px 8px 0 0; padding-left:5px }
.tal_ord .ord{width:766px;border-radius:8px;-webkit-border-radius:8px; -moz-border-radius:8px; border:1px solid #b5b5b5;margin:10px auto; padding-bottom:0px;background:#fff }
.tal_ord .ord1{width:766px;border-radius:8px;-webkit-border-radius:8px; -moz-border-radius:8px; border:1px solid #b5b5b5;margin:10px auto 40px; padding-bottom:0px;background:#fff }

.tal_ord table.t2 td{ border-right:0 solid transparent; text-align:center; border-top:1px solid #E8E8E8}
.tal_ord table.t2 td.mb{ border-left:1px solid #E8E8E8 }
.tal_ord table.t2 td.nb{ border-left:1px solid #E8E8E8; border-top:none !important }
.tal_ord table.t2 .tit{ color:#2f7536}
.tal_ord table.t2 .price{ color:#ec0606}
.tal_ord table.t2 .item{ border-left:1px solid #E8E8E8 }
.tal_ord table.t2 .item1{  height:132px; border-top:0;}
.tal_ord table.t2 .item a{color:#2f7536; text-decoration:underline}
.tal_ord table.t2 .view{  height:19px;  text-align:left; color:#fff; margin-bottom:2px;margin-top:10px;margin-bottom:10px; padding-left:25px}
.tal_ord table.t2 .sell{  height:19px; text-align:left; color:#fff;margin-bottom:2px;padding-left:25px}
.tal_ord table.t2 .re{  height:19px; text-align:left; color:#fff;margin-bottom:2px;margin-top:10px;margin-bottom:10px;padding-left:25px}
.tal_ord table.t2 .com{  height:19px; text-align:left; color:#fff;margin-bottom:2px;margin-bottom:15px;padding-left:25px}
.tal_ord table.t2 a{ color:#fff}
