.wrapHeader{position: fixed;top: 0;left: 0;z-index: 999;width: 100%; height:40px; background:#fff; padding-top:20px}
.fixedNav{display: none;position: fixed;left: 50%;top: 50%;z-index: 1000;width: 24px;height: 156px;margin-top: -80px;padding-top: 24px;background: url(../images/sprite.png) no-repeat 0 -110px;list-style: none;}
.fixedNav li{float: left;position: relative;width: 100%;height: 16px;padding-left: 3px;margin-bottom: 5px;}
.fixedNav .icon{display: block;width: 16px;height: 16px;background: url(../images/sprite.png) no-repeat -40px -131px;cursor: pointer;}
.fixedNav .txt{display: none;position: absolute;left: -80px;top: 0;width: 76px;height: 19px;background: url(../images/sprite.png) no-repeat 0 -80px;color: #fff;font-size: 12px;line-height: 19px;text-align: center;}
.fixedNav .cur .icon{background: url(../images/sprite.png) no-repeat -40px -110px;}
/**内容**/
.wrapBox{position:fixed;top: 60px;width: 100%; overflow:hidden}
.box{position: relative;left: 50%;margin-left: -960px;width: 1920px;height: 800px;overflow: hidden;background-attachment: fixed;background-repeat: no-repeat;background-position: 50% 55px;behavior: url(../images/ie-css3.htc); /*This lets IE know to call the script on all elements which get the 'box' class */behavior: url(../images/PIE.htc); /*This lets IE know to call the script on all elements which get the 'box' class */}
.box1{ position:relative; margin:0 auto}
.box_bg{/*left:250px;*/}
.box_fixed{position:relative!important; width: 100%;height: 570px;}
.box div{position: absolute;z-index: 100;}
.box .zIndex10{z-index: 10;}
.box .zIndex40{z-index: 40;}
.box .zIndex50{z-index: 50;}
.box .zIndex150{z-index: 150;}
.box .zIndex160{z-index: 160;}
/**box1**/
.b1_bg{/*background-image: url(../images/b1_bg.jpg);*/}
.b1_01{left: 200px;top: 285px;}
.b1_02{left: 260px;top: 15px;}
.b1_03{left: 1315px;top: 103px;}
.b1_03 img{display: block;}
.b1_03 a{float: left;margin: 15px 0 0 10px;opacity: .5;}
.b1_04{left: 1380px;top: 405px;}
.b1_03_btn{opacity: .5;}
.b1_03_btn.anima{opacity: .5;-webkit-animation-name: 'opt'; /*动画名称*/-webkit-animation-duration: 2s;/*播放一次所持续时间*/-webkit-animation-timing-function: ease;/*动画播放频率*/-webkit-animation-iteration-count: infinite;/*动画播放次馕无限次*/} @-webkit-keyframes 'opt'{from{opacity: .5;} 50%{opacity: 1;} to{opacity: .5}}
/**box2**/
.b2_bg{/*background-image: url(../images/b2_bg.jpg);*/color: #fff;}
.b2_tl{position: absolute;left: 500px;top: 15px;width: 350px;font-size: 38px;}
.b2_tl span{display: block;padding-top: 5px;font-weight: normal;font-size: 16px;font-family: 'Arial';}
.b2_cont{left: 480px;top: 50px;width: 960px;height: 500px;font-size: 14px;}
.b2_img{left: 174px;top: 68px;}
.b2_txt01{left: 220px;top: 45px;}
.b2_txt02{left: 570px;top: 55px;}
.b2_txt03{left: 710px;top: 202px;}
.b2_txt04{left: 630px;top: 420px;}
.b2_txt05{left: 370px;top: 500px;}
.b2_txt06{left: 104px;top: 400px;}
.b2_txt07{left: 38px;top: 202px;}
.b2_cont i{display: block;position: absolute;width: 10px;height: 10px;background: url(../images/b6_ico.png) no-repeat;}
.b2_txt01 i{left: 98px;top: 26px;}
.b2_txt02 i{left: -19px;top: 16px;}
.b2_txt03 i{left: -16px;top: 14px;}
.b2_txt04 i{left: 14px;top: -21px;}
.b2_txt05 i{left: 66px;top: -21px;}
.b2_txt06 i{left: 121px;top: -1px;}
.b2_txt07 i{left: 139px;top: 15px;}
.b2_arrow{left: 430px;top: 188px;width: 30px;height: 34px;overflow: hidden;}
.b2_arrow em{display: block;position: absolute;top: 0;width: 12px;height: 34px;}
.b2_arrow01{left: 1px;background: url(../images/b6_arrow.png) no-repeat;}
.b2_arrow02{left: 17px;background: url(../images/b6_arrow.png) no-repeat -16px 0;}
.b2_01{left: 1220px;top: 380px;}
/**box3**/
.b3_bg{/*background-image: url(../images/b3_bg.jpg);*/}
.b3_01,.b3_02,.b3_03,.b3_04,.b3_05,.b3_06{cursor:pointer;}
.b3_01{left: 500px;top: 65px;}
.b3_02{left:908px;top: 65px;}
.b3_03{left:1147px;top: 65px;}
.b3_04{left:500px;top: 280px;}
.b3_05{left:771px;top: 280px;}
.b3_06{left:1181px;top: 280px;}
.b3_fixed div img{display:block;height:200px;}

/**box4**/
.b4_bg{/*background-image: url(../images/b4_bg.jpg);*/}
.b4_01{left: 444px;top: -12px;}
.b4_02{left: 426px;top: 220px;cursor:pointer;}
.b4_03{left: 1284px;top: 18px;cursor:pointer;}
.b4_04{left: 1342px;top: 338px;cursor:pointer;}
/**box5**/
.b5_bg{/*background-image: url(../images/b5_bg.jpg);*/}
.b5_01{left: 310px;top: 30px;}
.b5_02{left: 1323px;top: -27px;}
.b5_03{left: 1232px;top: 382px;}
.b5_txt{left:427px;top:150px;font-size:20px;color:#636363;}
/**box6**/
.b6_bg{/*background-image: url(../images/b6_bg.jpg);*/color: #636363;}
.box_tl{left: 50%;top: 30px;width: 960px;height: 100px;margin-left: -480px;border-bottom: 1px solid #e5e5e5;text-align: center;}
.clfea005{color: #24BDC3;}
.box_tl h2{height: 60px;font-size: 30px;font-weight: bold;}
.box_tl p{color: #bcbcbc;font-family: Arial;font-size: 16px;}
.b6_img{left: 50%;top: -40px;/*width: 371px;height: 347px;*/margin-left: -340px;opacity: 0;}
.b6_img.transform{-webkit-transform: rotate(0deg);-webkit-animation-name: "rotate";-webkit-animation-duration: 3s;-webkit-animation-iteration-count: 1;-webkit-transition-timing-function: linear;}
@-webkit-keyframes 'rotate'{from{-webkit-transform: rotate(0deg);} to{-webkit-transform: rotate(360deg);}}
.b6_txt{top: 230px;left: 500px;font-size: 12px;line-height: 20px;}
.b6_txt strong{display: block;height: 25px;color: #ffffff;font-size: 18px;}
.b6_txt p span.b6_1{display:inline-block;width:328px;text-align:left;}
.b6_01{top: -16px;left: 470px;width: 328px;overflow:hidden;text-align: right;}
.b6_02{top: -16px;left: 1165;width: 360px;}
.b6_03{top: 195px;left: 1300px;width: 308px;}
.b6_04{top: 484px;left: 1236px;width: 312px;}
.b6_05{top: 484px;left: 422px;width: 290px;text-align: right;}
.b6_06{top: 195px;left: 370px;width: 290px;text-align: right;}
/**box7**/
.b7_bg{/*background-image: url(../images/b7_bg.jpg);*/color: #000;}
.b7_tl{position: absolute;left: 0;top: 50px;width: 350px;font-size: 35px;}
.b7_tl span{display: block;font-size: 30px;}
.b7_txt_box{left: 500px;}
.b7_txt{left: 70px;width: 420px;font-size: 14px;}
.b7_txt strong{font-size: 16px;line-height: 25px;}
.b7_txt01{top: 130px;}
.b7_txt02{top: 212px;}
.b7_txt03{top: 294px;}
.b7_txt04{top: 376px;}
.b7_txt05{top: 458px;}
.b7_txt06{top: 540px;}
.b7_01, .b7_02{top: 365px;left:720px;}
.b7_02{left:1065px;}
.b7_01 a, .b7_02 a{display:block;width:162px;height:92px;padding-top:70px;color:#ffffff;font-size:16px;text-align:center;background:url(../images/b7_01.png) no-repeat 0 0;text-decoration:none;}
.b7_02 a{background-position:0 -162px;}

